.navbar {
    background-color: $blueish;
    .container-sm {
      padding-left: 0;
      z-index: 999;
    }
    button {
      background-color: $greenish;
      font-weight: bolder;
      &:hover{
        background-color: #2c3e50;
      }
    }
  }