.shape {
    width: 10rem;
    display: flex;
   

    .line{
        width: 10rem;
        height: .2rem;
        background-color: white;
        
        
    }
    .star {
       
        margin: -11px 10px 10px;
        color: white;
    }
}
 
